@model EventiApp.Models.Menu
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Eliminar Menú";
}

<h2></h2>

<br />
<h3>¿Estas seguro de eliminar este Menú?</h3>
<br />

<div>
    <hr />
    <br />

    <dl class="dl-horizontal">
        <!---
        <dt>
            @Html.DisplayNameFor(model => model.IdEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEvent)
        </dd>-->

        <dt>

            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions text-danger bi bi-trash3-fill">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
            @Html.ActionLink(".", "Index", new { id = Model.IdMenu }, new { @class = "btn btn-lg btn-primary bi bi-skip-backward" })
            
        </div>
        }
    </div>
