@model EventiApp.Models.Menu
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Eventi";

}
<p>
    @Html.ActionLink(".", "Index", new { id = Model.IdEvent }, new { @class = "btn  btn-danger px-3 bi bi-skip-backward" })

</p>

<h2 class="text-center">Detalle del menú</h2>
<br />
<br />
<br />



<div>




    <table class="table table table-striped table-hover table-bordered">
        <tr>


            <th class="text-center">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th class="text-center bi bi-check2 text-success">
                Seleccionado
            </th>

        </tr>



        <tr>


            <td class="text-center">
                @Html.DisplayFor(model => model.Type)
            </td>
            <td class="text-center">
                @Html.DisplayFor(model => model.Description)
            </td>



            <td class="text-center">
                @Html.DisplayFor(model => model.MenuSelections.Count)
            </td>

        </tr>


    </table>


</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <dt class=" text-center bi bi-people-fill" style="position:relative;left:10px;"> Invitados con esta selección de menú:  </dt>

    <br />
    <br />
    <br />
    @foreach (var item in Model.MenuSelections)
    {

        <table class="table table-hover ">
            <tr>

                <th class="text-center bi bi-person"> Empleado</th>
                <th class="text-center bi bi-envelope-open"> Correo electrónico</th>

            </tr>

            <tr>
                <td class="col-md-5 bi bi-check2-circle text-success text-center">
                    @string.Format("{0} {1}", item.Invitation.Employee.User.Name, item.Invitation.Employee.User.LastName)
                </td>

                <td class="col-md-5 text-primary text-center">
                    @item.Invitation.EmailEmployee
                </td>


            </tr>


        </table>




    }
</div>
<br />
<br />

