@model EventiApp.Models.Menu
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Eventi";
}
<p>
    @Html.ActionLink(".", "Index", new { id = Model.IdEvent }, new { @class = "btn  btn-danger px-3 bi bi-skip-backward" })

</p>

<h2>Detalle del menú</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Evento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<hr />
<div>
    <dt class=" font-monospace pb-3"> Invitados con esta seleccíón de menú:  </dt>
    <br />
    @foreach (var item in Model.MenuSelections)
    {
        <div class="row">
            <div class="col-md-5 bi bi-check2-circle text-success">
                @string.Format("{0} {1}", item.Invitation.Employee.User.Name, item.Invitation.Employee.User.LastName)

            </div>
            <div class="col-md-5 text-primary">
                @item.Invitation.EmailEmployee
            </div>

        </div>

    }
</div>
<br />
<br />

