@model IEnumerable<EventiApp.Models.Menu>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Menú del Evento";
    var idEvent = Url.RequestContext.RouteData.Values["id"];
}

<h2>Menú del Evento</h2>

        @Html.ActionLink(".", "Index", "Events", new { id = idEvent }, new { @class = "btn btn-outline-white btn-danger bi bi-skip-backward" })
<p>
    @if (Model.Count() < 3)
    {
        @Html.ActionLink(" Nuevo Menú", "Create", new { id = idEvent }, new { @class = "btn btn-outline-warning btn-primary bi bi-plus-circle" })
    }
</p>
<br />
<br />
<table class="table table table-striped table-hover table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            Seleccionado
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuSelections.Count)
            </td>
            <td>
                @Html.ActionLink(".", "Edit", new { id = item.IdMenu }, new { @class = "btn btn-outline-primary btn bi bi-pencil-square" })
                @Html.ActionLink(".", "Details", new { id = item.IdMenu }, new { @class = "btn btn-warning mx-3 bi bi-eye-fill" })
                @Html.ActionLink(".", "Delete", new { id = item.IdMenu }, new { @class = "btn btn-outline-danger btn bi bi-trash3-fill" })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.IdMenu })*@
            </td>
        </tr>
    }

</table>
