@model EventiApp.Models.ChangePasswordViewModel
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
@{
    ViewBag.Title = "Cambiar Contraseña";
}

<h2 class="text-center bi bi-file-earmark-lock2" style="position:relative;right:35px;">@ViewBag.Title</h2>


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <br />
    @Html.ValidationSummary("", new { @class = "text-danger" })




    <div class="form-group" style="position:relative;left:22%;">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <br>
    <div class="form-group" style="position:relative;left:22%;">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-12 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="form-group" style="position:relative;left:22%;">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <br />
    <br />

    <div class="form-group py-4" style="position:relative;left:64%;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=" Cambiar" class="btn btn-outline-success" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}