@model EventiApp.Models.User
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
@{
    ViewBag.Title = "Configurar cuenta";

}

<h2 class="text-center" style="position:relative; right:62px;">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div>
        <dt class="bi bi-shield-lock-fill" style="position:relative; left:5px;"> Contraseña:</dt>
        <dd style="position:relative; left:8px;">
            @Html.ActionLink("Cambiar contraseña", "ChangePassword")
        </dd>
    </div>
    <hr />
    <dl class="dl-horizontal">
      
        
        @using (Html.BeginForm("Index", "Manage", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="position:relative; left:20%">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdUser)
                @Html.HiddenFor(model => model.Active)
                @Html.HiddenFor(model => model.Email)





                <div class="row pt-2">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.IdDocumentType, htmlAttributes: new { @class = "control-label col-md-12" })

                        <div class="col-md-10">
                            @Html.DropDownList("IdDocumentType", null, htmlAttributes: new { @class = "form-select" })
                            @Html.ValidationMessageFor(model => model.IdDocumentType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group  col-md-4">
                        <i class="bi bi-file-earmark-person"> N° Identificación</i>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Identification, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Identification, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="row pt-2">
                    <div class="form-group col-md-3">
                        Nombres

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group  col-md-4">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="row pt-2">
                    <div class="form-group col-md-3">
                        <i class="bi bi-telephone-plus-fill"> Teléfono</i>

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group  col-md-4">
                        <i class="bi bi-envelope-open-fill"> Correo electónico</i>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Email, new { disabled = "disabled", htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>









               




                <div class="form-group pt-3" style="position:relative; right:25%;">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-outline-success btn-sm" />
                    </div>
                </div>
            </div>
        }
        <hr />


        @if (this.User.IsInRole(EventiApp.Models.Enums.RolesEnum.Guest))
        {
            @Html.Partial("_AccountGuestPartial", new EventiApp.Models.Employee()
            {
                IdUser = Model.IdUser,
                IdEmployee = Model.Employees.FirstOrDefault().IdEmployee,
                Position = Model.Employees.FirstOrDefault().Position
            })
        }
        else if (this.User.IsInRole(EventiApp.Models.Enums.RolesEnum.Client))
        {
            @Html.Partial("_AccountClientPartial", new EventiApp.Models.Client()
       {
           IdUser = Model.IdUser,
           IdClient = Model.Clients.FirstOrDefault().IdClient,
           Address = Model.Clients.FirstOrDefault().Address,
           NumberEmployees = Model.Clients.FirstOrDefault().NumberEmployees
       })
        }


    </dl>
</div>
