@model EventiApp.Models.Event

@{
    ViewBag.Title = "Cancelar evento";
}

<h3>¿Esta seguro de cancelar este evento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Cancelar" class="btn btn-lg btn-danger" />
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-lg btn-primary" })
</div>
    }
</div>
