@model EventiApp.Models.Event
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Cancelar evento";
}

<h3>¿Esta seguro de cancelar este evento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions text-danger bi bi-trash3-fill">
            <input type="submit" value="Cancelar" class="btn btn-outline-danger   " />
            @Html.ActionLink(".", "Index", null, new { @class = "btn btn-lg btn-primary bi bi-skip-backward" })
        </div>
    }
</div>
