@model IEnumerable<EventiApp.Models.Event>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<script src="https://kit.fontawesome.com/05b0d5fb4c.js" crossorigin="anonymous"></script>

@{
    ViewBag.Title = "Listado de eventos";
}
<br />


<h2 class="text-center">Lista de Eventos</h2>
<br />
<br />
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th class="text-center">

           Organiza
        </th>

        <th class="text-center bi bi-shop-window">
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th class="text-center">
            Descripción
        </th>
        <th class="text-center bi bi-geo-alt">
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th class="text-center bi bi-clock-history">
            @Html.DisplayNameFor(model => model.Hour)
        </th>
        <th class="text-center bi bi-calendar-event">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th class="text-center">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Client.User.Name)
            </td>
            
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (!this.User.IsInRole(EventiApp.Models.Enums.RolesEnum.Guest))
                {
                    @Html.ActionLink(".", "Edit", new { id = item.IdEvent }, new { @class = "btn btn-outline-primary btn bi bi-pencil-square" })
                    @Html.ActionLink(".", "Details", new { id = item.IdEvent }, new { @class = "btn btn-warning mx-3 bi bi-eye-fill" })
                    @Html.ActionLink(".", "Delete", new { id = item.IdEvent }, new { @class = "btn btn-outline-danger btn bi bi-trash3-fill" })
                    @*@Html.ActionLink("Invitados", "Index", "Invitations", new { id = item.IdEvent }, new { @class = "btn btn-success ms-3" })*@
                }
                @if (this.User.IsInRole(EventiApp.Models.Enums.RolesEnum.Guest))
                {
                    @Html.ActionLink(".", "Details", "Invitations", new { id = item.Invitations.FirstOrDefault().IdInvitation }, new { @class = "btn btn-outline btn-warning bi bi-eye-fill" })
                }
            </td>
        </tr>
    }

</table>
