@using Microsoft.AspNet.Identity
@model EventiApp.Models.MenuSelection
@if (ViewBag.IdMenu.Items.Count > 0)
{

    using (Html.BeginForm("Create", "MenuSelections", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    
        @Html.AntiForgeryToken()
        <hr />
        
        <dt class=" font-monospace pb-3">¡Selecciona tu menú para este evento!  </dt>
        <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdInvitation)
        @Html.HiddenFor(model => model.IdMenuSelection)
      
        @*<div class="form-group">
            @Html.LabelFor(model => model.IdMenu, "Menu", htmlAttributes: new { @class = "control-label col-md-12" })

            <div class="col-md-12">
                @Html.DropDownList("IdMenu", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdMenu, "", new { @class = "text-danger" })
            </div>
        </div>*@
       

        @foreach (var lists in (SelectList)ViewBag.IdMenu)
        {
            <span class="row pt-2"  >
                @Html.RadioButtonFor(m => m.IdMenu, lists.Value, new { id = "list" + lists.Value, name = "Lists", @value = lists.Value, @text = lists.Text })
                <label for="list@(lists.Value)" style="color:#808080;font-weight:100">@lists.Text</label>
            </span>
        }

        <div class="form-group pt-4">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Actualizar menú" class="btn btn-primary" />

            </div>
        </div>
    </div>
    }
}
else
{
    <h5 class="pt-3">No hay menús disponibles para este evento.</h5>
}