@using Microsoft.AspNet.Identity
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
@model EventiApp.Models.MenuSelection

@if (ViewBag.IdMenu.Items.Count > 0)
{
    <h3 class="text-success text-center bi bi-bookmark-check"> La invitación ha sido aceptada</h3>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    using (Html.BeginForm("Create", "MenuSelections", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var db = new EventiApp.Models.DataContext();
        @Html.AntiForgeryToken()

        <br />
        <br />

        <dt class=" font-monospace pb-3 text-center bi bi-arrow-down-circle-fill" style="position:relative; left:5px;"> ¡Selecciona tu menú para este evento!  </dt>
        <br />

        <div class="form-horizontal">



            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdInvitation)
            @Html.HiddenFor(model => model.IdMenuSelection)


            <hr />
            <br />
            <br />

            @foreach (var lists in (SelectList)ViewBag.IdMenu)
            {



                var id = Convert.ToInt32(lists.Value);
                var menu = db.Menus.Where(m => m.IdMenu == id).FirstOrDefault();
                if (!string.IsNullOrEmpty(menu.Photo))
                {
                    <img src="~/Content/Menus/@Url.Content(menu.Photo)" alt="image" style="width:200px;height:50px;max-width:100%;height:auto;" />
                }
                else
                {
                    <img src="~/Content/Menus/default.png" alt="image" style="width:200px;height:50px;max-width:100%;height:auto;" />

                }
                <span class="row pt-2" style="position:relative; bottom:100px; left:255px;">

                    @Html.RadioButtonFor(m => m.IdMenu, lists.Value, new { id = "list" + lists.Value, name = "Lists", @value = lists.Value, @text = lists.Text })

                    <label for="list@(lists.Value)" style="color:#242860; font-size:18px">@lists.Text</label>

                </span>
                <hr />
                <br />
                <br />
            }


            <div class="form-group pt-4" style=" position:relative; left:70%;">
                <div class="col-md-offset-2 col-md-10 bi bi-check2-circle text-success align-content-between">
                    <input type="submit" value="" class="btn btn-outline-success" />

                </div>
            </div>
            <br />
            <br />



            <small class=" font-monospace pb-1 text-danger">¡AVISO!, Si desea cambiar su elección de menú debe ser maximo 3 días antes que el día del evento. De lo contrario se tendrá en cuenta su elección anterior.   </small>
            <br />


        </div>

    }
}
else
{
    <h3 class="text-success text-center bi bi-bookmark-check"> La invitación ha sido aceptada</h3>
    <hr />
    <br />
    <br />
    <h4 class="pt-3 text-danger bi bi-emoji-frown"> Aún no hay menús disponibles para este evento.</h4>
}
