@model EventiApp.Models.Invitation
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Eventi";
}

<p class="text-md-right">@Html.ActionLink(".", "Index", "Events", null, new { @class = "btn btn-warning bi bi-skip-backward " }) <h2>Detalle de Invitación</h2></p>


<div>
    <hr />


    <!--

     <table class="table table table-striped table-hover table-bordered">
            <tr>

                <th>
                  @Html.DisplayNameFor(model => model.IdEvent)
                </th>
                <th>
                  @Html.DisplayNameFor(model => model.IdEmployee)
                </th>
                <th>
                   Correo Empleado
                </th>
            </tr>



            <tr>

                <td>
                    @(String.Format("{0} - {1} - {2}", Model.Event.Place, Model.Event.Type, Model.Event.Description))
                </td>
                <td>
                     @(String.Format("{0} {1} - {2}", Model.Employee.User.Name, Model.Employee.User.LastName, Model.Employee.Position))
                </td>
                <td>
                     @Html.DisplayFor(model => model.EmailEmployee)
                </td>

            </tr>


      </table>




        -->



   <!----> <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdEvent)
        </dt>

        <dd>
            @(String.Format("{0} - {1} - {2}", Model.Event.Place, Model.Event.Type, Model.Event.Description))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEmployee)
        </dt>

        <dd>
            @(String.Format("{0} {1} - {2}", Model.Employee.User.Name, Model.Employee.User.LastName, Model.Employee.Position))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailEmployee)
        </dd>


        <dd class="mt-4">
            @if (Model.Accepted)
            {
                var selected = Model.MenuSelections.Count() > 0 ? Model.MenuSelections.FirstOrDefault() : null;
                var menuSelection = new EventiApp.Models.MenuSelection()
                {
                    IdInvitation = Model.IdInvitation,
                    IdMenuSelection = selected == null ? 0 : selected.IdMenuSelection,
                    IdMenu = selected == null ? 0 : selected.IdMenu,

                };

                @Html.ActionLink(".", "Accepted", new { id = Model.IdInvitation }, new { @class = "btn btn-danger bi bi-x-circle-fill  " })
                @Html.Partial("_MenuSelectionPartial", menuSelection);

            }
            else
            {
                @Html.ActionLink(" Confirmar", "Accepted", new { id = Model.IdInvitation }, new { @class = "btn btn-primary bi bi-check-circle-fill" })

            }
        </dd>

    </dl>
</div>
<p>

</p>
