@model EventiApp.Models.Invitation
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Eventi";
}
@Html.ActionLink(".", "Index", "Events", null, new { @class = "btn btn-danger bi bi-skip-backward ml-auto"})
<br />
<h2 class="text-center">Detalle de Invitación</h2>


<div>
    <hr />
    <br />



    <table class="table table table-striped table-hover table-bordered">
        <tr>

            <th class="text-center">
                Lugar - Tipo Evento - Descripción
            </th>
            <th class="text-center">
                Empleado - Cargo
            </th>
            
            <th class="text-center bi bi-clock-history">
                Hora
            </th>
            <th class="text-center bi bi-calendar-event">
                Fecha
            </th>
            <th class="text-center bi bi-person-badge">
                Organiza
            </th>

        </tr>



        <tr>

            <td class="text-center">
                @(String.Format("{0} - {1} - {2}", Model.Event.Place, Model.Event.Type, Model.Event.Description))
            </td>
            <td class="text-center">
                @(String.Format("{0} {1} - {2}", Model.Employee.User.Name, Model.Employee.User.LastName, Model.Employee.Position))
            </td>
           <!----<td class="text-center">
                @Html.DisplayFor(model => model.EmailEmployee)
            </td>-->
            <td class="text-center">
                @Html.DisplayFor(model => model.Event.Hour)
            </td>
            <td class="text-center">
                @Html.DisplayFor(model => model.Event.Date)
            </td>
            <td class="text-center">
                @Html.DisplayFor(model => model.Event.Client.User.Name)
            </td>

        </tr>


    </table>
    <br />


    <dl>
        <dd class="mt-4" style="position:relative; left:0px;">
            @if (Model.Accepted)
            {
                var selected = Model.MenuSelections.Count() > 0 ? Model.MenuSelections.FirstOrDefault() : null;
                var menuSelection = new EventiApp.Models.MenuSelection()
                {
                    IdInvitation = Model.IdInvitation,
                    IdMenuSelection = selected == null ? 0 : selected.IdMenuSelection,
                    IdMenu = selected == null ? 0 : selected.IdMenu,

                };

                @Html.ActionLink(".", "Accepted", new { id = Model.IdInvitation }, new { @class = "btn btn-outline-danger bi bi-x-circle-fill  " })
                @Html.Partial("_MenuSelectionPartial", menuSelection);

            }
            else
            {
                @Html.ActionLink(" Confirmar", "Accepted", new { id = Model.IdInvitation }, new { @class = "btn btn-success bi bi-check-circle-fill" })

            }
        </dd>

    </dl>
</div>
<br />
<p>

</p>
