@model IEnumerable<EventiApp.Models.Invitation>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

@{
    ViewBag.Title = "Lista de invitados";
    var idEvent = Url.RequestContext.RouteData.Values["id"];
}
@Html.ActionLink(".", "Details", "Events", new { id = idEvent }, new { @class = "btn btn-outline-white btn-danger bi bi-skip-backward" })
<h2 class="text-center">Lista de invitaciones</h2>
<br />
<p>

    <!---  @if (this.User.IsInRole(EventiApp.Models.Enums.RolesEnum.Administrator))
      {
          @Html.ActionLink(".", "Create", new { id = idEvent }, new { @class = "btn btn-warning btn-primary bi bi-envelope-plus-fill" });

      }-->


    @Html.ActionLink(".", "Create", new { id = idEvent }, new { @class = "btn btn-warning  bi bi-envelope-plus-fill" })
    
    <br />
    <br />
</p>
<table class="table table table-striped table-hover table-bordered">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.IdEvent)
        </th>

        <th class="text-center">
            @Html.DisplayNameFor(model => model.EmailEmployee)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.IdEmployee)
        </th>
        <th class="text-center">
            Estado Invitación
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Event.Place)
            </td>

            <td class="text-center">
                @Html.DisplayFor(modelItem => item.EmailEmployee)
            </td>
            <td class="text-center">
                @if (item.Employee != null)
                {
                    @(String.Format("{0} {1}", item.Employee.User.Name, item.Employee.User.LastName));
                }

            </td>
            <td class="text-center">
                @if (item.Accepted)
                {
                    <b class="text-success bi bi-envelope-check-fill text-center"> Confirmada</b>
                }
                else
                {
                    <b class="text-danger bi bi-envelope-x-fill"> Pendiente</b>
                }
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdInvitation }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdInvitation }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdInvitation })
                </td>*@
        </tr>
    }

</table>
